@section InitScripts{
    <script>
        
        var centerOnInitLat = 47.2;
        var centerOnInitLon = 19.8;
        var zoomLevOnInit = 8;
        var map;

        // git changes
        function init() {
            map = L.map('map', {
                center: new L.LatLng(centerOnInitLat, centerOnInitLon),
                zoom: zoomLevOnInit,
                unloadInvisibleTiles: true,
                updateWhenIdle: true,
                reuseTiles: true
            });

            var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            map.addLayer(osm);

            for (var i = 0; i < 100; i++) {
                for (var j = 0; j < 100; j++) {
                    L.circle([centerOnInitLat + (i / 10), centerOnInitLon + (j / 10)], { radius: 200 }).addTo(map);
                }
            }
        }
    </script>
    } @*end of initscripts*@

<div class="mapView" id="map">MAP</div>